<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 5px 5px 5px 5px;">
                <img class="card-img-top" src="../../images/road.jpg" alt="Card image cap" width="286" height="180">
                <div class="card-body">
                    <h5 class="card-title">Road freight</h5>
                    <p class="card-text">Solutions that meet your reliability, speed, sustainable development</p>
                    <a href="/Information/Road" class="btn btn-outline-warning">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 5px 5px 5px 5px;">
                <img class="card-img-top" src="../../images/rail.jpg" alt="Card image cap" width="286" height="180">
                <div class="card-body">
                    <h5 class="card-title">Rail freight</h5>
                    <p class="card-text">Competitive and eco-friendly solutions for your long-distance transport</p>
                    <a href="/Information/Rail" class="btn btn-outline-warning">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 5px 5px 5px 5px;">
                <img class="card-img-top" src="../../images/sea.jpg" alt="Card image cap" width="286" height="180">
                <div class="card-body">
                    <h5 class="card-title">Sea freight</h5>
                    <p class="card-text">Optimise your international supplies in full containers worldwide</p>
                    <a href="/Information/Sea" class="btn btn-outline-warning">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 5px 5px 5px 5px;">
                <img class="card-img-top" src="../../images/air.png" alt="Card image cap" width="286" height="180">
                <div class="card-body">
                    <h5 class="card-title">Air freight</h5>
                    <p class="card-text">Benefit from reliable and cost effective air freight consolidation solution
                    </p>
                    <a href="/Information/Air" class="btn btn-outline-warning">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
