<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center">Information</h1>
    </div>
</div>
<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We ship to {{countriesCount}} countries</h2>
        <p class="lead">Across Europe our company delivers to many countries. One of our future goals is to expand it even further.</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/europe.jpg" alt="Countries" width=100%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">We currently have {{usersCount}} customers</h2>
        <p class="lead">We deliver nearly anything to our customers they require. Check out the feedbacks to see for yourself!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/customer.jpg" alt="Customers" width=100%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We currently have {{offersCount}} offer(s) in total</h2>
        <p class="lead">It does not make much time to request an offer. <b>Sign in to get started!</b></p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/offers.jpg" alt="Offers" width=100%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">{{offersRunningCount}} of them running</h2>
          <p class="lead">We work with our customer service on serving the best regarding quality and quantity.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/images/pending.jpg" alt="Pending" width=100%>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{offersCompleteCount}} of them complete</h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="../../assets/images/complete.png" alt="Completed" width=100%>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">We are currently dealing with {{companiesCount}} companies</h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/images/companies.jpg" alt="Companies" width=100%>
        </div>
    </div>

    <hr class="featurette-divider">

  </div>
