<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-warning">Sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" 
        [(ngModel)]="model.username" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="firstname" 
        [(ngModel)]="model.firstName" placeholder="Firstname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="lastname" 
        [(ngModel)]="model.lastName" placeholder="Lastname">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="dateofbirth" 
        [(ngModel)]="model.dateOfBirth">
    </div>
    <div class="form-group">
        <select name="gender" class="form-control" [(ngModel)]="model.gender" aria-placeholder="Gender">
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
        </select>
   </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" 
        [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-warning mr-2" type="submit">Register</button>
        <button class="btn btn-outline-warning mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
