<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
  <div class="container"> 
    <a class="navbar-brand" routerLink='/'>WeDeliver</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/information' routerLinkActive='active'>Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/prospect' routerLinkActive='active' *ngIf="accountService.currentUser$ | async">Quotation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/offers' routerLinkActive='active' *ngIf="accountService.currentUser$ | async">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/feedbacks' routerLinkActive='active' *ngIf="accountService.currentUser$ | async">Feedbacks</a>
        </li>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}}!
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" routerLink='/profile/edit'>Edit profile</a>
            <a class="dropdown-item" routerLink='/profile/messages'>Messages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>   
        </a>
      </div>
    </div>
  </div>
  </nav>