
<form [formGroup]='loginForm' (ngSubmit)="login()" autocomplete="off">
    <h1 class="text-center" style="color: #ffcc00;" >Login</h1>
    <hr>
    <div class="form-group">
        <input type="text" 
        [class.is-invalid]='loginForm.get("userName").errors 
            && loginForm.get("userName").touched'
        class="form-control" 
        formControlName='userName'
        placeholder="Username">
        <div class="invalid-feedback">Please enter your username</div>
    </div>
    <div class="form-group">
        <input type="password" 
        [class.is-invalid]='loginForm.get("password").errors 
            && loginForm.get("password").touched'
        class="form-control"
        formControlName='password'
        placeholder="Password">
        <div *ngIf="loginForm.get('password').hasError('required')"
        class="invalid-feedback">Please enter your password</div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group">
            <button [disabled]='!loginForm.valid' class="btn btn-warning" type="submit">Login</button>
            <button class="btn btn-outline-warning" (click)="cancel()" type="button">Cancel</button>
        </div>
    </div>
</form>
