<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center">Feedbacks</h1>
    </div>
</div>


<form #feedbackForm="ngForm" (ngSubmit)="addFeedback()" autocomplete="off">
    <h2>Give us a feedback</h2>
    <input type="hidden" class="form-control" name="creatorId" 
        [(ngModel)]="model.creatorId">
    <div class="row form-group">
        <div class=" col-2">
            <select name="solutions" class="form-control" [(ngModel)]="model.solution">
                <option value="air" selected>Air freight</option>
                <option value="rail">Rail freight</option>
                <option value="road">Road freight</option>
                <option value="sea">Sea freight</option>
            </select>
       </div>
    </div>
    <div class="row form-group">
        <div class=" col-1">
            <select name="values" class="form-control" [(ngModel)]="model.value">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <textarea class="form-control" name="text" [(ngModel)]="model.text" placeholder="Share your thoughts with us..."></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col text-center">
            <button class="btn btn-warning mr-2" type="submit">Post feedback</button>
        </div>
    </div>
</form>


<div *ngFor="let fb of feedbacks" class="card feedback-card mb-3 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col" style="text-transform: capitalize">
                {{(getUserByCreatorId(fb.creatorId))}}
            </div>
            <div class="col" style="text-align:right">
                {{fb.date | date:'MMM dd, yyyy hh:mm'}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{fb.text}}</p>
            <footer class="blockquote-footer">Gave <cite title="Source Title">{{fb.value}} star<span *ngIf="fb.value > 1">s</span> on {{fb.solution}} freight.</cite></footer>
        </blockquote>
    </div>
</div>
